*{
    margin: 0;
    padding: 0;

}
body{
    height: 300px;
}
.ni{
    width: 150px;
    padding: 15px;
    margin: 5px 10px;
    cursor: pointer;
    background-color: orange;
    font-size: 30px;
    border: none;
    border-radius: 30px;
    margin-bottom: 40px;
    position: relative;
    left:130px;
    top: 30px;
}
/*for js*/
.anim{
    background-color: black;
    color: aqua;
}
/*for js*/
.cont{
    background-color: black;
   

}
.ho:hover{
background-color: blue;
}
input{
    margin-top: 35px;
    width: 300px;
    height: 50px;
    border: none;
    box-shadow: 2px 2px 10px gray;
    position: relative;
   left: 22px;
   border-radius: 10px;
    text-align: end;
    border: none;
  font-size: 30px;
}
.container{
    
   margin: 0 auto;
   font-size: 15px;
    width: 350px;
    height: 450px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: orange;
    border: none;
    box-shadow: 5px 5px 10px gray;
}
.bl{
    width: 25px;
    padding: 25px;
    font-size: 15px;
    margin: 3px;
    box-shadow: 2px 2px 5px gray;
    transition: all ease 1s;
}
.bl:hover{
    background-color: black;
    color: white;
   
}
.row{
display: flex;
justify-content: space-around;

}
.btn{
    margin-top: 36px;
}
.btn .bl{
    display: flex;
    
}
.pins{
    margin-top: 30px;
}